Repository Faless/gd-curl: changes, and which pre-commit hooks are due for each by the changed paths.
All: copyright-headers, header-guards

copyright-headers:
  name: copyright-headers
  language: python
  entry: python misc/scripts/copyright_headers.py

header-guards:
  name: header-guards
  language: python
  entry: python misc/scripts/header_guards.py

fix(style): Apply new pre-commit style
  README.md
  SConstruct
  misc/scripts/package_release.sh
  src/compat/compat.hpp
  src/compat/http_client_extension.hpp
  src/compat/http_request.hpp
  src/compat/tls_options.hpp
  src/http_client2/http_client2.h
  src/http_client2/http_client2_curl.h
  src/http_client_curl.h
  src/ring_buffer.h
  tools/cmake.py
  tools/curl.py
  tools/openssl.py
Due: copyright-headers, header-guards

feat: Build and bundle zlib
  .github/workflows/build_release.yml
  .gitmodules
  SConstruct
  tools/curl.py
  tools/libzlib.py
Due: none

feat: Add mbedTLS as alternative tls library
  .github/workflows/build_release.yml
  .gitmodules
  SConstruct
  build_profile.json
  tools/cmake.py
  tools/curl.py
  tools/mbedtls.py
Due: none

feat: Enable HTTP/2 via nghttp2
  .github/workflows/build_release.yml
  .gitmodules
  SConstruct
  tools/curl.py
  tools/nghttp2.py
Due: none

fix: Temporarily force HTTP/1.1 in clients
  src/http_client2/http_client2_curl.cpp
  src/http_client_curl.cpp
Due: copyright-headers

feat: Update HTTPClient2 with HTTP/2 support
  src/http_client2/http_client2.cpp
  src/http_client2/http_client2.h
  src/http_client2/http_client2_curl.cpp
  src/http_client2/http_client2_curl.h
  src/http_client_curl.cpp
  src/http_client_curl.h
  src/register_types.cpp
Due: copyright-headers, header-guards

fix: Better user agent header handling in HTTPClient2
  src/http_client2/http_client2_curl.cpp
  src/http_client2/http_client2_curl.h
Due: copyright-headers, header-guards

fix: Fix response code parsing in HTTPClient2
  src/http_client2/http_client2_curl.cpp
Due: copyright-headers

fix: Enable HTTP/2 for HTTPClient
  src/http_client2/http_client2_curl.cpp
  src/http_client_curl.cpp
  src/http_client_curl.h
Due: copyright-headers, header-guards

feat: Enable HTTP/3 support when using OpenSSL backend
  .gitmodules
  SConstruct
  src/http_client2/http_client2_curl.cpp
  src/http_client2/http_client2_curl.h
  src/http_client_curl.cpp
  src/http_client_curl.h
  src/register_types.cpp
  tools/curl.py
  tools/nghttp3.py
  tools/ngtcp2.py
Due: copyright-headers, header-guards

fix: Update GitHub issue template
  .github/ISSUE_TEMPLATE/bug_report.yml
  .github/ISSUE_TEMPLATE/config.yml
Due: none

Update dependencies and build tools
  .github/actions/godot-cache/action.yml
  .github/workflows/build_release.yml
  SConstruct
  tools/cmake.py
  tools/curl.py
  tools/libzlib.py
  tools/mbedtls.py
  tools/nghttp2.py
Due: none

Some work on HTTPClient2
  build_profile.json
  src/http_client2/http_client2.cpp
  src/http_client2/http_client2.h
  src/http_client2/http_client2_tcp.cpp
  src/http_client2/http_client2_tcp.h
  src/register_types.cpp
Due: copyright-headers, header-guards

Path conditions:
  copyright-headers: any of: \.(c|h|cpp|hpp|cc|hh|cxx|hxx|m|mm|inc|java)$ and not ((?x)^(
  core/math/bvh_.*\.inc|
  platform/(?!android|ios|linuxbsd|macos|web|windows)\w+/.*|
  platform/android/java/lib/src/org/godotengine/godot/gl/GLSurfaceView\.java|
  platform/android/java/lib/src/org/godotengine/godot/gl/EGLLogWrapper\.java|
  platform/android/java/lib/src/org/godotengine/godot/utils/ProcessPhoenix\.java
)$
) and not ((?x)^(
  .*thirdparty/.*|
  .*-(dll|dylib|so)_wrap\.[ch]|
  platform/android/java/editor/src/main/java/com/android/.*|
  platform/android/java/lib/src/com/google/.*
)$
)
  header-guards: any of: \.(h|hpp|hh|hxx)$, but not: (?x)^(
  .*thirdparty/.*|
  .*-(dll|dylib|so)_wrap\.[ch]|
  platform/android/java/editor/src/main/java/com/android/.*|
  platform/android/java/lib/src/com/google/.*
)$

